.box {
    width: 210px;
    height: 200px;
    background-color: blue;
    padding: 10px 20px 30px 40px;
    border: 10px solid red;
    /* margin: 10px 20px 30px 40px; */
    margin-top: 15px;
    margin-bottom: 20px;
}