body {

    font-family: "Inter", sans-serif;

}

h1 {
    font-family: "Playfair Display", serif;
}

p {
    /* font-weight: bolder; */
    font-size: 40px;
    line-height: 1.5;
    line-height: 150%;
    /* line-height: 24px; */
}

h1 {
    height: 120px;
    background-color: blue;
    line-height: 110px;
}