* {
    font-size: 1.5rem;
}
body{
    margin:0
}
.container {
    display: flex;
    background-color: cyan;
    /* justify-content: flex-start; */
    /* justify-content: end; */
    /* justify-content: end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;


    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: center; */
    align-items: baseline;
}

.box {
    background-color: blue;
}

.box1{
    height: 200px;
    font-size: 3rem ;
}