.container {
    display: flex;
    background-color: cyan;
    height: 150px;
    flex-direction: column;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: blue;
    margin-top: auto;

}


.box3 {
    background-color: green;
    /* margin-left: auto; */
}

.box4 {
    background-color: rgb(255, 191, 0);
}