.box {
    width: 100px;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background: red;
    position: static;
}

.box2 {
    background: blue;
    position: relative;
    /* left: 50px; */
    bottom: 50px;
    right: 50px
}

.box3 {
    background: green;
    position: relative;
    bottom: 50px;
}

h1 {
    background: purple;
}