.noti{
    margin: 5rem;
    font-size: 10rem;
    color:violet;
    
    position: relative;
}
.mes-number{
    font-size: 3rem;
    padding: 0.5em;
    background: red;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    left: 100px;
    top: -45px;
}
