.box {
    counter-reset: section;
    padding-left: 30px;
    background-color: aqua;
}

h2 {
    /* Tăng biến đếm lên 1 */
    counter-increment: section;
    /* Tạo biến đếm và reset thẻ h3 về 0 */
    counter-reset: sub-section;
}

h2::before {
    content: "Phần " counter(section)":";
    color: red
}

h3 {
    counter-increment: sub-section;
    padding-left: 30px;
}

h3::before {
    content: counter(section)"." counter(sub-section)". ";
}