/* .parent {
    font-size: 10px;
}

html {
    font-size: 40px;
}

.child {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: violet;
    border: 0.2rem solid red;
} */

html {
    font-size: 62.5%;
}

h1 {
    font-size: 4.4rem;
}

p {
    font-size: 2.53rem;
}

.box {
    width: 22rem;
    height: 18rem;
    background-color: blue;
}